<h1>Calcuate the Square</h1>
<form action="/square/results" >
  <label for="user_num_id"> Enter a number </label><br>
  <input type="text" id="user_num_id" name="users_number" placeholder="Number"><br>
  <button>Calculate square</button>
</form>
