<h1>Payment Calculator</h1>
<form action="/payment/results">
  <label for="apr"> APR </label>
  <input type="text" name="user_apr" id="apr" placeholder="i.e. 1.75"><br>
  <label for="num_years"> Number of years </label>
  <input type="text" name="user_years" id="num_years" placeholder="# of years to repay"><br>
  <label for="principal"> Principal </label>
  <input type="text" name="user_pv" id="principal" placeholder="How much principal?"><br>
  <button>Calculate monthly payment</button>
</form>
