<h1> Calculate the Square Root </h1>
<form action="/square_root/results">
  <label for="user_num"> Enter a number </label>
  <input type="text" id="user_num" name="user_number" placeholder="Number" ><br>
  <button> Calculate square root </button>
</form>
